<h3>Stats Summary</h3>
<p>Total Reviews: {{ reviewStats()?.totalReviews }}</p>
<p>Total Open Issues: {{ reviewStats()?.totalOpenIssues }}</p>
<p>Average Overall Score: {{ reviewStats()?.avgOverallScore }}</p>
<p>High Severity Issues: <app-badge-component displayText="{{reviewStats()?.severityStats?.high}}" badgeColor="red" /> </p>
<p>Medium Severity Issues: <app-badge-component displayText="{{ reviewStats()?.severityStats?.medium }}" badgeColor="yellow" /> </p>
<p>Low Severity Issues: <app-badge-component displayText="{{ reviewStats()?.severityStats?.low }}" badgeColor="gray" /> </p>
<br />
<h3>Current Review</h3>
@if (currentReview()) {
  <p>language: {{ currentReview()?.language }}</p>
  <p>
    date:
    {{
      currentReview()?.date
    }}
  </p>
  <p>overall score: {{ currentReview()?.overallScore }}</p>
  <p>number of issues: {{ currentReview()?.issues?.length }}</p>
} @else {
  <p>Currently there is no review.</p>
}
<br />
<h3>Review History</h3>
@for (review of reviewHistory(); track $index) {
  <p>Review no.:{{ $index + 1 }}</p>
  <p>language: {{ review.language }}</p>
  <p>
    date:
    {{ review.date }}
  </p>
  <p>overall score: {{ review.overallScore }}</p>
  <p>number of issues: {{ review.issues.length }}</p>
}
