<div class="mb-1">
  <label for="languages">Choose language: </label>
  <select [(ngModel)]="selectedLanguage" name="languages" id="languages" class="border">
    <option value="php">Php</option>
    <option value="js">JS</option>
    <option value="python">Python</option>
    <option value="c#">C#</option>
  </select>
</div>
<div class="mb-1">
  <label for="review-focus">Choose Review: </label>
  <select [(ngModel)]="selectedReviewFocus" name="review-focus" id="review-focus" class="border">
    <option value="Security">Security</option>
    <option value="naming-conventions">Naming Conventions</option>
    <option value="best-practice">Best Practices</option>
  </select>
</div>
<label for="code">Paste Code: </label>
<textarea [(ngModel)]="enteredCode" placeholder="Enter your code" id="code" class="border" cols="40" rows="10"></textarea>
<br />
<button (click)="submitReview()" class="border hover:bg-gray-300 hover:cursor-pointer ">Review</button>
<p>{{data.language}}</p>
<p>{{data.reviewFocus}}</p>
<p>{{data.code}}</p>
